html {
      box-sizing: border-box;
}

*,
::after,
::before {
      box-sizing: inherit;
}

body {
      font-family: 'Kode Mono', monospace;
      font-weight: 400;
      font-style: normal;
      margin: 0 auto;
}